@model PROG2230_JisungKim.Models.TransactionRecord

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Transaction Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.TickerSymbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.TickerSymbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SharePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SharePrice)
        </dd>
        <dt class="col-sm-2">
            Gross Value
        </dt>
        <dd class="col-sm-10">
            $@String.Format("{0:#,##0.00;(#,##0.00);Zero}", Model.CalculateGrossValue())
        </dd>
        <dt class="col-sm-2">
            Net Value
        </dt>
        <dd class="col-sm-10">
            $@String.Format("{0:#,##0.00;(#,##0.00);Zero}", Model.CalculateNetValue())
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionRecordId">Edit</a> |
    <a asp-action="Transactions" asp-route-id="@Model.CompanyId">Back to Transactions</a>
</div>
