@model IEnumerable<PROG2230_JisungKim.Models.TransactionRecord>

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<p>
    <a asp-action="Add">Add New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.TickerSymbol)
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewBag.order">
                    @Html.DisplayNameFor(model => model.Company.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharePrice)
            </th>
            <th>
                Gross Value
            </th>
            <th>
                Net Value
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.TickerSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharePrice)
            </td>
            <td>
                $@String.Format("{0:#,##0.00;(#,##0.00);Zero}", item.CalculateGrossValue())
            </td>
            <td>
                $@String.Format("{0:#,##0.00;(#,##0.00);Zero}", item.CalculateNetValue())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType.Name)
            </td>
        </tr>
}
    </tbody>
</table>
